<h1>About us</h1>
<p>My website is all about comparing billls between people who buys grocery and other stuff</p>
<p>You have the right to know if you can buy the same item that you baught with less price from other place</p>
